[Unit]
Description=Dash button script
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/PATH/TO/
ExecStart=/PATH/TO/dash-button.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
